.DatePicker-Container {
    position: absolute;
    width: 300px;
    height: 200px;
    background-color: #eee;
    border-radius: 5px;
    margin-top: 5px;
    font-family: Arial, Helvetica, sans-serif;
    display: none;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none;
}

.DatePicker-Container:before{
    content: "";
    position: absolute;
    top: -19px;
    left: 19%;
    transform: translateX(-19%);
    z-index: 10;
    border: solid 10px transparent;
    border-bottom-color: #e86d4e;
}

.DatePicker-Container ul {list-style-type: none;}

/* Month header */
.DatePicker-Month {
    width: 100%;
    background: #e86d4e;
    border-radius: 5px 5px 0px 0px;
}

/* Month list */
.DatePicker-Month ul {
    margin: 0;
    padding: 10px;
}

.DatePicker-Month ul li {
    color: white;
    text-transform: uppercase;
    letter-spacing: 3px;
}

/* Previous button inside month header */
.DatePicker-Month .DatePicker-Prev {
    float: left;
    cursor: pointer;
}

.DatePicker-Prev:hover, .DatePicker-Next:hover {
    color: #000;
}

/* Next button */
.DatePicker-Month .DatePicker-Next {
    float: right;
    cursor: pointer;
}


/* Weekdays (Mon-Sun) */
.DatePicker-Weekdays {
    margin: 0;
    padding: 5px 0;
    background-color:#ddd;
}

.DatePicker-Weekdays li {
    font-size: .8em;
    display: inline-block;
    width: 13.6%;
    color: #666;
    text-align: center;
}

.DatePicker-Days {
    padding: 10px 0;
    background: #eee;
    margin: 0;
    text-align: left;
    border-radius: 0px 0px 5px 5px;
}

.DatePicker-Days .DatePicker-Date, .DatePicker-Days li {
    list-style-type: none;
    display: inline-block;
    width: 14.2%;
    text-align: center;
    padding-bottom: 5px;
    padding-top: 5px;
    font-size:.8em;
    color: #777;
}

.DatePicker-Days .DatePicker-Date:hover {
    background: #e86d4e;
    color: #FFF;
}

.DatePicker-Days .DatePicker-Date:active {
    background: #a54c36;
    color: #DDD;
}

/* Highlight the "current" day */
.DatePicker-Days .DatePicker-Active {
    background: #1abc9c;
    color: #FFF;
}